<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046550965009-ic6p4tmggcv8dc2lcac53i7si04c46re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046550965009-ic6p4tmggcv8dc2lcac53i7si04c46re</string>
	<key>API_KEY</key>
	<string>AIzaSyAj9S6JCW7T1ywm6ieKLeqJB_1-bBXvY3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1046550965009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chennaiCabsDev</string>
	<key>PROJECT_ID</key>
	<string>kanban-fire-8b66b</string>
	<key>STORAGE_BUCKET</key>
	<string>kanban-fire-8b66b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046550965009:ios:245ab2a3bb9d3b9fa6bab0</string>
	<key>DATABASE_URL</key>
	<string>https://kanban-fire-8b66b-default-rtdb.firebaseio.com</string>
</dict>
</plist>